html{
    background-color: black;
}
body{
    margin: 0px;
    position: cover;

    
    
    }
.logobk1{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:1px 1px;
    back
}

#logo1{
        width:200px;
        height:200px;
        position: cover;
        top:-200px; 
        left:-30px;          
     }

#newsfeed{
    background-color: #3B1C32;
    color: #A64D79;
    position: relative;   
    font-weight: bolder;
    font-size: 50px;
    
    }
h2{
    position: over;
    top: -275px;

    
}
#imgsize1{
    height:170px;
    width: 100%;
    position:relative;
    top:1px;
    
}
h1{
    position:over;
}

