html{
    background-color: black;
}
body{
    margin: 0px;
    position: cover;

    
    
    }
.logobk1{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:1px 1px;
    back
}

#logo1{
        width:200px;
        height:200px;
        position: relative;
        top:-70px; 
        left:-30px;          
     }

#newsfeed{
    background-color: #3B1C32;
    color: #A64D79;
    position: relative;   
    font-weight: bolder;
    font-size: 50px;
    
    }
h2{
    position: relative;
    top:-180px;

    
}

